.aquarium {
     top: 130px; left:250px; width: 400px; height: 400px;
     transform-style: preserve-3d;
     position: relative;
     animation: aquaCube3dRotation 10s linear 1s infinite normal forwards;

}


@keyframes aquaCube3dRotation {
    from {transform: rotate3d(1,1,1,0); }
    to { transform: rotate3d(1,1,1,720deg);}
    
}
div:hover{
    animation-play-state: paused;
}

.aquarium div {
    position: absolute;
    height: 400px;
    width: 400px;
    opacity: 0.8;
}

.face1{  transform: rotateY(  0deg) translateZ(200px); }
.face2{ transform: rotateY(180deg) translateZ(200px); }
.face3{ transform: rotateY( 90deg) translateZ(200px);   }
.face4{  transform: rotateX(-90deg) translateZ(200px); }
.face5{ transform: rotateY(-90deg) translateZ(200px);}
.face6{ transform: rotateX( 90deg) translateZ(200px);}